<input id="scr-blog-create-submit" type="submit" class="btn btn-default {{ btnClasses }}" value="{{ title }}"/>
{% if renderCancelButton == true %}
    <a href="{{ cancel }}" class="btn btn-warning">Cancel</a>
{% endif %}
